.maxCountStyle {
    font-size: 45px;
    font-weight: bold;
    color: red;
    padding: 10px;
}

.countStyle {
    font-size: 45px;
    padding: 10px;
}

.tabloBlock {
    text-align: center;
    background-color: #6AE0FF;
    min-width: 250px;
    border-radius: 15px;
}