body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1200px-React-icon.svg.png") repeat center/50px;

}


.Counter {
    border: 3px #6AE0FF solid;
    box-shadow: 0 0 10px 3px black;
    border-radius: 15px;
    padding: 10px;
    background-color: #4E4E4E;
}
